*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* font-family: gill sans; */
}

html,body{
    height: 100%;
    width: 100%;
}


nav{
    width: 100%;  
    z-index: 100;
    height: 100px;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    position:fixed;
    
}

.menu-one{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px  10px;
    border-radius: 50px;
}

.first-menu{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px  10px;
    border-radius: 50px;
    /* margin-left: 2px; */
}

nav h1{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.menu-two{
    display: flex;
}

/* .Dentych{
    /* padding:20px; 
    /* background-color: red; 
    /* margin-top: 5px; 
    text-align: center;
    justify-content: center;
    border:1px solid black;


} */

/* Dentych */

/* nav-three */

nav button{
    padding :7px 10px;
    border-radius: 50px;
    border: 1.5px solid black;
    background-color: white;
    cursor: pointer;
}

.btn2{
    background-color: orangered;
    color: white;
    border: none;


}

.menu-middle-icon{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px  5px;
    margin-right: 5px;
    margin-top:-2px
}

main>h1{
    font-size: 120px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 430px;
    width: 370px;
    object-fit: cover;
    /* object-position: top; */
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 20px;
}

#img1{
    transform:translate(-50%,-50%) rotate(-32deg);
}

#img2{
    transform:translate(-50%,-50%) rotate(-22deg);
}

#img3{
    transform:translate(-50%,-50%) rotate(-12deg);
}

#img4{
    transform:translate(-50%,-50%) rotate(-2deg);
}

#btm-left{
    position: absolute;
    bottom:5%;
    left:5%;

}

.dot{
    position: absolute;
    bottom:6%;
    left:5%;
    font-size: 40px;
    color:orangered;
}

.main-bottom{
    position: absolute;
    bottom: 5%;
    right: 6%;    
}

.main-bottom h5{
    align-items: center;
    justify-content: center;
}

.social-icon{
    font-size: 25px;
    padding-bottom: 10px;
}
.icon{
    font-size: 30px;
    color:black;
    padding: 3px 6px;
    background-color: rgb(250, 247, 212);
    border-radius: 25px;
    /* opacity: 50%; */
}
.down{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: 1.5px solid black;
    position: absolute;
    bottom:-15%;
    left:50%;
    transform: translate(-50%,-50%);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    
    /* border-right: 0px; */
    /* font-size: 30px; */
    /* padding: 5px 50px; */

}

.down-icon{
    
    position: absolute;
    top:14%;
    font-weight: normal;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    padding: 5px 50px;
}

