*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    color:white;
}

nav{
    width: 100%;
    z-index: 100;
    display: flex;
    padding:2vw 3.5vmax;
    align-items: center;
    justify-content: space-between;
    color:white
}
span{
    opacity: 60%;
}
.menu{
    text-transform: uppercase;
    font-weight: 600;
}
.hero{
    margin-top: 11vh;
}

.hero h1{
    font-size: 9vw;
    padding-left: 3.5vmax;
    opacity: 60%;
    text-transform: uppercase;
    line-height: 9vw;
    font-weight: 500;
}

.section{
    padding-left: 10vmax;
    width: fit-content;
}

.section h3{
    margin-top: .5vw;
    font-size: .9vmax;
    text-transform: uppercase;
    display: flex;
    justify-content: end;
}
.second-section{
    margin-top: 8vmax;
}

.second-section p{
    display: flex;
    justify-content: end;
    padding-right: 3.5vmax;
    margin-top: 1vmax;
    font-weight: bold;
    opacity: 100%;

}

.section-three{
    display: flex;
    justify-content: space-between;
    margin-top: 11vh;
    padding: 0 3.5vmax
}
.section-three p{
    font-weight: bold;
}


.icons i{
    width: 1vmax;
    height: 1vmax;
    background-color: #AAAAAA;
    border-radius: 50%;
    color: black;
    font-size: 1.2vmax;
}

@media (max-width: 600px) {
    .icons{
        display: none;
    }
    .section-three{
        display: flex;
        justify-content: space-between;
        gap:8vmax;
        margin-top: 11vh;
        padding: 0 3.5vmax
    }
}